@using global::Shared.Dtos.DtosImpl
@code {
    [Parameter, EditorRequired] public ContactDto Contact { get; set; }
}

<div>
    <label for="firstname">First Name:</label>
    <InputText id="firstname" @bind-Value="Contact.FirstName" class="form-control" />
    <ValidationMessage For="@(() => Contact.FirstName)" />
</div>
<div>
    <label for="lastname">Last Name:</label>
    <InputText id="lastname" @bind-Value="Contact.LastName" class="form-control" />
    <ValidationMessage For="@(() => Contact.LastName)" />
</div>
<div>
    <label for="email">Email:</label>
    <InputText id="email" @bind-Value="Contact.Email" class="form-control" />
    <ValidationMessage For="@(() => Contact.Email)" />
</div>
<div>
    <label for="phone">Phone:</label>
    <InputText id="phone" @bind-Value="Contact.PhoneNumber" class="form-control" />
    <ValidationMessage For="@(() => Contact.PhoneNumber)" />
</div>
<div>
    <label for="street">Street:</label>
    <InputText id="street" @bind-Value="Contact.Street" class="form-control" />
    <ValidationMessage For="@(() => Contact.Street)" />
</div>
<div>
    <label for="city">City:</label>
    <InputText id="city" @bind-Value="Contact.City" class="form-control" />
    <ValidationMessage For="@(() => Contact.City)" />
</div>
<div>
    <label for="postalcode">Postal Code:</label>
    <InputText id="postalcode" @bind-Value="Contact.PostalCode" class="form-control" />
    <ValidationMessage For="@(() => Contact.PostalCode)" />
</div>
