@using MauiBlazorWeb.Shared.Components.ComponentsImpl.StoredFiles
@using MauiBlazorWeb.Shared.Resources.Strings
@using Microsoft.Extensions.Localization
@using MudBlazor
@using MudBlazor.Components
@using global::Shared.Dtos.DtosImpl
@inject NavigationManager NavigationManager
@inject IStringLocalizer<AppResources> L

@code {
    [Parameter]
    public List<FarmDto> items { get; set; } = new List<FarmDto>();

    [Parameter] public EventCallback<FarmDto> OnItemSelected { get; set; }
    void SelectItem(FarmDto item) => OnItemSelected.InvokeAsync(item);

    [Parameter] public EventCallback<(string? SortBy, bool? SortDescending)> OnSortSelected { get; set; }
    void SortByColumn(string columnName, bool? descending) => OnSortSelected.InvokeAsync((columnName, descending));

    private string? currentColumnName = null;
    private bool? currentSortDescending = null;

    private void OnHeaderClick(string columnName)
    {
        bool? descending = currentColumnName == columnName ? !currentSortDescending : false;
        currentColumnName = columnName;
        currentSortDescending = descending;
        SortByColumn(columnName, descending);
    }

    private string? GetSortIcon(string columnName)
    {
        if (currentColumnName != columnName) return null;
        return currentSortDescending == true ? Icons.Material.Filled.ArrowDownward : Icons.Material.Filled.ArrowUpward;
    }

    private void EditItem(FarmDto farmDto)
    {
        NavigationManager.NavigateTo($"/farms/{farmDto.Id}/edit");

    }
}

<div style="overflow-x: auto; max-width: 100%;">
<MudDataGrid Items="@items" Hover="true" Dense="true" Striped="true" Bordered="true" SortMode="SortMode.None">
    <Columns>
            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Name"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Farm_Name"]
                        @if (GetSortIcon("Name") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("Name")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>@context.Item.Name</CellTemplate>
            </TemplateColumn>
        <TemplateColumn>
            <HeaderTemplate>
                <MudButton OnClick="@(() => OnHeaderClick("Contact.FirstName"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Contact_FirstName"]
                        @if (GetSortIcon("Contact.FirstName") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Contact.FirstName")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Contact.FirstName</CellTemplate>
        </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>
                <MudButton OnClick="@(() => OnHeaderClick("Contact.LastName"))" Variant="Variant.Text" Style="text-transform: none;">
                    @L["Contact_LastName"]
                        @if (GetSortIcon("Contact.LastName") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Contact.LastName")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Contact.LastName</CellTemplate>
        </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>
                <MudButton OnClick="@(() => OnHeaderClick("Address.Street"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Address_Street"]
                        @if (GetSortIcon("Address.Street") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Address.Street")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Address.Street</CellTemplate>
        </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Address.City"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Address_City"]

                        @if (GetSortIcon("Address.City") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Address.City")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Address.City</CellTemplate>
        </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Address.PostalCode"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Address_PostalCode"]

                        @if (GetSortIcon("Address.PostalCode") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Address.PostalCode")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Address.PostalCode</CellTemplate>
        </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Contact.PhoneNumber"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Contact_Phone"]
                        @if (GetSortIcon("Contact.PhoneNumber") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Contact.PhoneNumber")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Contact.PhoneNumber</CellTemplate>
        </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Contact.Email"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Contact_Email"]

                        @if (GetSortIcon("Contact.Email") != null)
                    {
                            <MudIcon Icon="@GetSortIcon("Contact.Email")" Size="Size.Small" />
                    }
                </MudButton>
            </HeaderTemplate>
            <CellTemplate>@context.Item.Contact.Email</CellTemplate>
        </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("NumberOfChickens"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["NumberOfChickens"]
                        @if (GetSortIcon("NumberOfChickens") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("NumberOfChickens")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>@context.Item.NumberOfChickens</CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("NumberOfRoosters"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["NumberOfRoosters"]
                        @if (GetSortIcon("NumberOfRoosters") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("NumberOfRoosters")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>@context.Item.NumberOfRoosters</CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Size"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Farm_Size"]
                        @if (GetSortIcon("Size") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("Size")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>@context.Item.Size</CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("Color"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["Color"]
                        @if (GetSortIcon("Color") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("Color")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>@context.Item.Color</CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("DatesForRescues"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["DatesForRescues"]
                        @if (GetSortIcon("DatesForRescues") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("DatesForRescues")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>
                    @string.Join(", ", context.Item.DatesForRescues.Select(d => d.ToString("dd.MM.yyyy")))
                </CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("GeneralInformation"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["GeneralInformation"]
                        @if (GetSortIcon("GeneralInformation") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("GeneralInformation")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>@context.Item.GeneralInformation</CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    @L["Files"]
                </HeaderTemplate>
                <CellTemplate>
                    @foreach (var file in context.Item.Files)
                    {
                        <StoredFileDialog StoredFile="file" />
                    }
                </CellTemplate>
            </TemplateColumn>

            <TemplateColumn>
                <HeaderTemplate>
                    <MudButton OnClick="@(() => OnHeaderClick("SaveChickenActionId"))" Variant="Variant.Text" Style="text-transform: none;">
                        @L["SaveChickenAction"]
                        @if (GetSortIcon("SaveChickenActionId") != null)
                        {
                            <MudIcon Icon="@GetSortIcon("SaveChickenActionId")" Size="Size.Small" />
                        }
                    </MudButton>
                </HeaderTemplate>
                <CellTemplate>
                    @{
                        var action = context.Item.SaveChickenAction;
                        var actionId = context.Item.SaveChickenActionId;
                    }
                    @(action?.Title ?? actionId?.ToString() ?? string.Empty)
                </CellTemplate>
            </TemplateColumn>

        <TemplateColumn>
            <HeaderTemplate>Aktionen</HeaderTemplate>
            <CellTemplate>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => EditItem(context.Item))">@L["edit"]</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
</div>
